# udev rule for Feetech STS3215 servo control board
# CH340 USB-to-Serial adapter (QinHeng Electronics)
# VID:PID 1a86:55d3

# Find the ttyACM device created by this USB adapter
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", SUBSYSTEM=="tty", \
  MODE="0666", GROUP="dialout", \
  RUN+="/bin/sh -c 'ln -sf $DEVNAME /dev/ttyUSB_sts3215'"
